* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background: #0059ff;
}

#quote-box {
  background: #fff;
  width: 600px;
  margin: 20rem auto;
  padding: 10px;
  border-radius: 5px;
}

#text {
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
}

#author {
  display: flex;
  justify-content: flex-end;
  font-size: 1.2 rem;
  padding: 10px;
}

#buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

#tweet-quote {
  margin-right: 0.5rem;
  background: #0059ff;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  border-radius: 3px;
}

#tweet-quote > a {
  color: #fff;
}

#new-quote {
  background: #0059ff;
  border: none;
  color: #fff;
  padding: 0.7rem 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}
